{% extends 'base.html.twig' %}

{% block title %}Statistical Data{% endblock %}

{% block display_current1 %} current{% endblock %}

{% block smaller_title %} Graphical evolution of {% endblock %}
{% block bigger_title %} sars-cov-2 in romania {% endblock %}
{% block title_description %}
    in this section you will see the evolution of COVID-19 in Romania based on different applied filters
{% endblock %}

{% set filters = {'byCases': 'by cases', 'byVaccines': ' by vaccines administered', 'byIncidence': 'by incidence rate'} %}

{% block content %}
    <div class="title-heading">
        {% if filter is not empty %}
        <h3>Data is shown</h3>
        <h1>{{filters[filter]}}</h1>
        <p>you can select another filter </p>
        {% endif %}
    </div>

    <div id="filters">
        <div class="container">
            <div id="date-selector">
                <div class="date-selector-item">
                    <label for="starting-period">Choose a starting period</label>
                    <input type="date" name="starting-period" id="starting-period">
                </div>

                <div class="date-selector-item">
                    <label for="ending-period">Choose an ending period</label>
                    <input type="date" name="ending-period" id="ending-period">
                </div>
            </div>
        </div>
    </div>

    <div id="map-display"></div>
{% endblock %}
